page-about {
  .toolbar-background {
    background: transparent;
  }
  .dust-chart{
    width: 100%;
  }
  mat-card.dust-chart-card.mat-card.ng-tns-c3-1.ng-trigger.ng-trigger-animate{
    margin-top: 30px;
  }
  .dust-chart-card{
    margin-bottom: 20px;
  }
}
